.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root img {
  height: 300px;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-preview___info {
  background-color: rgba(0,0,0,0.39);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.fighter-preview___name {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 1px 1px #000;
  text-align: center;
}

.fighter-preview___stat-block {
  display: flex;
  position: relative;
  width: 250px;
  height: 29px;
  margin-top: 10px;
  justify-content: space-around;
}

.fighter-preview___left .fighter-preview___stat {
  order: 1;
}

.fighter-preview___left .fighter-preview___text-value {
  order: 2;
}

.fighter-preview___right .fighter-preview___stat {
  order: 2;
}

.fighter-preview___right .fighter-preview___text-value {
  order: 1;
}

.fighter-preview___stat-block:nth-child(1) {
  margin: 0;
}

.fighter-preview___stat {
  background-repeat: no-repeat;
  background-position: 0,0;
  background-size: 200px, 29px;
  width: 204px;
  height: 29px;
  left: 0;
  top: 0;
  z-index: 2;
}

.fighter-preview___text-value {
  display: block;
  width: 35px;
  height: 29px;
  line-height: 29px;
  font-family: Arial, sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px #000;
}

.fighter-preview___stat-value {
  position: absolute;
  z-index: 3;
}

.fighter-preview___left .fighter-preview___stat-value {
  left: 2px;
}

.fighter-preview___right .fighter-preview___stat-value {
  left: 43px;
}

.fighter-preview___attack-value {
  background-image: url("/resources/attack.png");
}

.fighter-preview___attack-blank {
  background-image: url("/resources/attack-blank.png");
}

.fighter-preview___health-value {
  background-image: url("/resources/health.png");
}

.fighter-preview___health-blank {
  background-image: url("/resources/health-blank.png");
}

.fighter-preview___defense-value {
  background-image: url("/resources/defense.png");
}

.fighter-preview___defense-blank {
  background-image: url("/resources/defense-blank.png");
}